@attribute [Authorize]

@page "/customers/edit/{id:int}"

@rendermode InteractiveServer

@inject SolarTech.Data.SolarTechDbContext DbContext
@inject NavigationManager NavigationManager

<h3>EditCustomer</h3>

<EditForm Model="@customer" OnValidSubmit="SaveEditedCustomer">
    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="customer!.Name" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <InputText type="email" class="form-control" @bind-Value="customer.Email" />
    </div>

    <div class="mb-5 form-group">
        <label>Address</label>
        <InputText class="form-control" @bind-Value="customer.Address" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private Customer? customer;

    protected override void OnInitialized()
        {
        customer = DbContext.Customers.Find(id);
        }

    private void SaveEditedCustomer()
        {
        if(customer != null)
            {
            DbContext.Customers.Update(customer);
            DbContext.SaveChanges();
            NavigationManager.NavigateTo("/customers");
            }
        }

    private void Cancel()
        {
        NavigationManager.NavigateTo("/customers");
        }
}
